.imageupload{
    display:flex;
    flex-direction: column;
    width:50%;
    margin-left:20%;
    margin-right:auto;
    margin-bottom:2%;
    border:1px solid lightgray;
    border-radius: 1%;
    padding:2% 1% 1% 1%;
}

.imageupload_progress{
    /* width:80%; */
    height:2em;
    /* text-align: center; */
   
}

.iuitem{
    margin-bottom:2%;
    width:100%;
    /* margin-left: 12%; */
}
.uploadbtn{
    width:20%;
    margin-left: auto;
}
.upload_lbl{
    line-height: 7px !important;
}
.ui.button{
    display: flex !important;
}

@media only screen and (max-width: 768px) {
  
    .imageupload {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 4px;
        border: 1px solid lightgray;
        border-radius: 1%;
        padding: 2% 1% 1% 1%;
    }

    .uploadbtn{
        width:20%;
        padding-left: 7px !important;
        height: 10px !important;
        
    }
    .input_cmnt{
        height:23px;
    }
    .upload_lbl{
            line-height: 0px !important;
            margin-left: 13px !important;
    }
    .fa-2x {
        font-size: 1.5em;
    }
   

  }

